services:
  postgres:
    container_name: postgres
    build: ./postgres
    env_file:
      - .env
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}"
    
    volumes:
      - postgres_data:/var/lib/postgresql
  redis:
    container_name: redis
    build: ./redis
    env_file:
      - .env
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_CONTAINER_PORT}"
    entrypoint: 
    volumes:
      - redis_data:/data
volumes:
  postgres_data:
  redis_data:
